*
{
    box-sizing: border-box
}

/* Add padding to containers */
.container
{
  padding: 16px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color:rgba(20,120,1,0.9);
}

/* Full-width input fields */
input[type=text], input[type=password]
{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus
{
  background-color:#f1f1f1;
  outline: none;
  
}

/* Overwrite default styles of hr */
hr
{
  border: 1px solid rgba(1, 200, 150, 0.9);
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn
{
  background-color:rgba(200, 10, 1, 0.9);
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover
{
  opacity:1;
  cursor:pointer;
  background-color: rgba(1, 200, 150, 0.9);
  font-size: 18px;
}

/* Add a blue text color to links */
a
{
  color: rgba(10, 82, 155, 0.904);
}

/* Set a grey background color and center the text of the "sign in" section */
.signin
{
  background-color: #f1f1f1;
  text-align: center;
}